:root {
  /* Color Palette*/
  --mate-green: #123E38;
  --beige: #FBF7EB;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins';
}

body {
  background-color: var(--beige);
}

/* Hero Section */

.hero {
  height: 100vh;
  background-image: url(./src/media/img/header_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

#hero::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, .5);
}

/* Navbar */

.nav {
  position: relative;
  margin: 20px 30px 0 30px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo img {
  height: 40px;
  width: auto;
}

h1 {
  font-family: 'Noto Sans';
  font-size: 30px;
  font-weight: 300;
  margin-left: 10px;
  color: var(--beige);
}

.nav__menu {
  position: absolute;
  right: 25%;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__menu ul {
  position: absolute;
  display: flex;
  justify-content: center;
}

.navItem {
  margin: 0px 20px;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  font-weight:400;
  color: var(--beige);
  position: relative;
}

.navItem::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--beige);
  transition: width 0.1s ease-in-out, left 0.1s ease-in-out;
}

.navItem:hover::after {
  width: 100%;
  left: 0%;
}

.navItem a {
  text-decoration: none;
  color: var(--beige);
}

.nav__ig a img {
  width: 40px;
  height: 40px;
}

.cta {
  position: relative;
  height: 100%;
  width: 50%;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cta__text {
  font-size: 48px;
  font-weight: 600;
  color: var(--beige);
}

.cta__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 240px;
  margin-top: 25px;
  background-color: var(--beige);
  border-radius: 15px;
}

.cta__link {
  color: var(--mate-green);
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

/* Products Section */

#products {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--mate-green);
}

.title {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

.filter {
  display: flex;
  margin: 20px 0 30px;
  gap: 25px;
}

.filter__item {
  padding: 5px 16px;
  color: var(--mate-green);
  font-size: 20px;
  font-weight: 400;
  list-style: none;
  border: 2pt solid var(--mate-green);
  border-radius: 90px;
  cursor: pointer;
}

.filter__item--active {
  color: var(--beige);
  background-color: var(--mate-green);
}

.catalog {
  display: flex;
  align-items: center;
}

.catalog__button {
  width: 60px;
  height: 60px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3pt solid var(--mate-green);
  border-radius: 100%;
  cursor: pointer;
}

.catalog__button--disabled {
  border-color: #b8b4b4;
}

.catalog__button img {
  height: 40px;
}

#prevBtn {
  transform: rotate(180deg);
}

.galleryContainer {
  display: flex;
  width: 735px;
  overflow: hidden;
}

.galleryGrid {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.productItem {
  width: 225px;
  height: 225px;
  background-color: var(--mate-green);
  border-radius: 10px;
  object-fit:cover;
  cursor: pointer;
  transition: ease-in-out .3s;
}

.productItem:hover {
  transform: scale(1.05);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination__item {
  width: 10px;
  height: 10px;
  background-color: #D9D9D9;
  border-radius: 100%;
}

.pagination__item--active {
  background-color: var(--mate-green);
}

#quote {
  display: flex;
  height: 400px;
}

.quote__img {
  height: 250px;
}