:root {
  /* Color Palette*/
  --mate-green: #123E38;
  --beige: #FBF7EB;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins';
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--beige);
}

/* Hero Section */

.hero {
  height: 100vh;
  min-height: 760px;
  background-image: url(./src/media/img/header_img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, .7);
}

/* Navbar */

.nav {
  position: relative;
  margin: 20px 30px 0 30px;
  height: 70px;
  /* width: 100vw; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  justify-self: flex-start;
}

.nav__logo img {
  height: 40px;
}

h1 {
  font-family: 'Noto Sans';
  font-size: 2rem;
  font-weight: 300;
  text-wrap: nowrap;
  margin-left: 10px;
  color: var(--beige);
}

#menuBtn {
  display: none;
}

.menuBtn__line {
  width: 30px;
  height: 3px;
  background-color: var(--beige);
  border-radius: 25px;
}

#menuContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  justify-self: center;
  flex-grow: 2;
}

.navItem {
  list-style: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight:400;
  color: var(--beige);
  position: relative;
}

.navItem::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--beige);
  transition: width 0.1s ease-in-out, left 0.1s ease-in-out;
}

.navItem:hover::after {
  width: 100%;
  left: 0%;
}

.navItem a {
  text-decoration: none;
  text-wrap: nowrap;
  color: var(--beige);
}

.nav__ig {
  margin-left: 60px;
  justify-self: end;
}

.nav__ig a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__ig a img {
  width: 40px;
  height: 40px;
}

.cta {
  position: relative;
  height: 100%;
  width: 50%;
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cta__text {
  font-size: 3rem;
  font-weight: 600;
  text-wrap: nowrap;
  color: var(--beige);
}

.cta__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 240px;
  margin-top: 25px;
  background-color: var(--beige);
  border-radius: 15px;
}

.cta__link {
  color: var(--mate-green);
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

#scrollIcon {
  position: absolute;
  width: 40px;
  bottom: 20px;
  left: calc(50% - 20px);
  animation: float 1s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
  }
}

main {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Products Section */

#products {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--mate-green);
}

.sectionTitle {
  margin-top: 50px;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--mate-green);
  text-wrap: nowrap;
}

.filter {
  display: flex;
  margin: 40px 0 30px;
  gap: 25px;
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

.filter__item {
  padding: 5px 16px;
  color: var(--mate-green);
  font-size: 1rem;
  font-weight: 400;
  list-style: none;
  border: 2pt solid var(--mate-green);
  border-radius: 90px;
  cursor: pointer;
}

.filter__item--active {
  color: var(--beige);
  background-color: var(--mate-green);
}

.catalog {
  display: flex;
  align-items: center;
}

.catalog__button {
  width: 40px;
  height: 40px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3pt solid var(--mate-green);
  border-radius: 100%;
  cursor: pointer;
}

.catalog__button--disabled {
  border-color: #b8b4b4;
}

.catalog__button img {
  height: 30px;
}

#prevBtn {
  transform: rotate(180deg);
}

.galleryContainer {
  width: 680px;
  height: 680px;
  position: relative;
  overflow: hidden;
}

.galleryGridsContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0px;
}

.galleryGrid {
  flex-shrink: 0;
  width: 650px;
  height: 650px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.productItem {
  background-color: var(--mate-green);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: ease-in-out .3s;
}

.productItem:hover {
  transform: scale(1.05);
}

.productItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination__item {
  width: 10px;
  height: 10px;
  background-color: #D9D9D9;
  border-radius: 100%;
}

.pagination__item--active {
  background-color: var(--mate-green);
}

/* Quote Section */

#quote {
  height: 400px;
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.quote__img {
  height: 250px;
}

.quote__textContainer {
  width: 710px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.quote__text {
  font-family: 'Caveat';
  font-size: 2.5rem;
  font-weight: 700;
  text-align: end;
  color: var(--mate-green);
}

.quote__author {
  font-family: 'Noto Sans';
  font-size: 1rem;
  font-weight: 700;
  color: var(--mate-green);
}

#about {
  min-height: min-content;
  min-height: 760px;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about h2 {
  margin: 0 0 30px 0;
}

#about div {
  width: 55%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#about p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

#cornerTop {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 30%;
  mask-image: linear-gradient(
    var(--beige) 90%,
    transparent
  );
  transform: rotate(180deg);
}

#cornerBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30%;
  mask-image: linear-gradient(
    var(--beige) 90%,
    transparent
  );
}

#contact {
  height: 600px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 50px
}

.contact__ctaContainer {
  width: 710px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact__text {
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--mate-green);
}

.contact__button {
  width: 250px;
  height: 55px;
  margin-top: 40px;
  border-radius: 15px;
  background-color: var(--mate-green);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contact__button img {
  height: 40px;
}

.contact__button a {
  color: var(--beige);
  text-decoration: none;
  font-size: 1.5rem;
}

.contact__img {
  margin-top: auto;
  max-width: 30%;
}

footer {
  height: 50px;
  background-color: var(--mate-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 20px;
  margin: 5px;
}

footer p {
  font-size: 1rem;
  font-weight:300;
  color: var(--beige);
}

footer a {
  font-weight: 500;
  color: var(--beige);
}


/* Media Queries */

@media (max-width: 1440px) {
  
  .nav {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 1280px) {
  .cta {
    margin: 0 auto;
    align-items: center;
  }

  .contact__ctaContainer {
    margin-left: 60px;
  }

  .contact__img {
    margin-right: 60px;
  }
}

@media (max-width: 1024px) {
  
  .nav {
    justify-content: space-between;
  }
  
  #menuBtn {
    width: 30px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 7px;
    cursor: pointer;
  }

  #menuContainer {
    display: none;
  }

  #quote {
    gap: 30px;
  }

  
}

@media (max-width: 980px) {

  .sectionTitle {
    font-size: 2rem;
  }

  .filter {
    max-width: 550px;
    overflow: scroll;
  }

  .catalog__button {
    width: 30px;
    height: 30px;
    margin: 10px;
  }

  .catalog__button img {
    height: 20px;
  }

  .galleryContainer {
    width: 480px;
    height: 480px;
  }

  .galleryGrid {
    width: 450px;
    height: 450px;
    gap: 10px;
  }

  .pagination__item {
    width: 8px;
    height: 8px;
  }

  #quote {
    margin: 0px;
  }

  .quote__img {
    display: none;
  }

  .quote__text {
    text-align: start;
  }

  #about p {
    font-size: 1.25rem;
  }

  #contact {
    height: 500px;
  }

  .contact__button {
    height: 48px;
    width: 200px;
  }

  .contact__button img {
    width: 30px;

  }

  .contact__button a {
    font-size: 1.25rem;
  }

}

@media (max-width: 768px) {

  .cta__text {
    font-size: 2.5rem;
  }

  .cta__button {
    height: 48px;
    width: 200px;
  }

  .cta__link {
    font-size: 1.25rem;
  }

  .quote__textContainer {
    width: 80%;
  }

  .quote__text {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 0.75rem;
  }
}

@media (max-width: 480px) {

  .nav {
    margin: 15px 20px 0 15px;
  }

  .nav__logo img {
    height: 30px;
  }

  h1 {
    font-size: 2rem;
  }
  
  .menuBtn__line {
    width: 25px;
    height: 2px;
  }

  .cta__text {
    font-size: 1.75rem;
  }

  .cta__button {
    width: 175px;
    height: 40px;
  }

  .cta__link {
    font-size: 1rem;
  }

  .sectionTitle {
    font-size: 1.5rem;
  }

  .filter {
    max-width: 325px;
    margin: 30px 0 20px;
    gap: 10px;
  }

  .filter__item {
    font-size: .75rem;
  }

  .catalog__button {
    width: 20px;
    height: 20px;
    border-width: 2px;
    margin: 0;
  }

  .catalog__button img {
    height: 15px;
  }

  .galleryContainer {
    width: 330px;
    height: 330px;
  }

  .galleryGrid {
    width: 300px;
    height: 300px;
    gap: 10px;
  }

  .pagination__item {
    width: 8px;
    height: 8px;
  }

  #about div {
    width: 70%;
  }

  #about p {
    font-size: 1rem;
  }

  #contact {
    height: 400px;
  }

  .contact__ctaContainer {
    margin: 0;
    align-items: center;
  }

  .contact__ctaContainer h2 {
    margin: 0;
  }

  .contact__text {
    font-size: 1rem;
    text-align: center;
    padding: 0 20px;
  }

  .contact__button {
    width: 175px;
    height: 40px;
  }

  .contact__button a {
    font-size: 1rem;
  }

  .contact__img {
    display: none;
  }

  footer img {
    height: 12px;
    margin: 5px;
  }
  
  footer p {
    font-size: .75rem;
    font-weight:300;
    color: var(--beige);
  }

}